<div class="modal-header"><button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button><h4 class="modal-title">Add Ticket</h4></div>
<div class="modal-body">

    <div class="form-group">
        <label for="subject">Subject *</label>
        <select class="form-control select2" id="subject" name="subject" style="width: 100%;" required>
			<option value="">None</option>
			<?php foreach ($subject as $Subj) { ?>
			<option value='<?php echo $Subj['id']; ?>'><?php echo $Subj['subject']; ?></option>
			<?php } ?>
		</select>
    </div>

    <div class="row">
        <div class="col-xs-6">
            <div class="form-group">
                <label for="clientid">Client</label>
                <input type="hidden" value="<?php echo $_GET['clientid']; ?>" name="clientid" id="clientid" />
                <input type="text" value="<?php echo getSingleValue('clients','name', $_GET['clientid']);?>" class="form-control" name="clientname" readonly="" />
            </div>
        </div>
        <div class="col-xs-6">
            <div class="form-group">
			
                <label for="contractid">Contract</label>
                <select class="form-control select2" id="contractid" name="contractid" style="width: 100%;">
                    <option value="0">None</option>
                    <?php foreach ($contracts as $contract) { ?>
                        <option value='<?php echo $contract['id']; ?>' <?php if(isset($_GET['contractid'])) { if($_GET['contractid'] == $contract['id']) echo "selected"; }  ?>><?php echo $contract['contractno'] . " " . $contract['asset_tag'] . ":" . $contract['asset_model'] . " " . $contract['department']; ?></option>
                    <?php } ?>
                </select>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-6">
            <div class="form-group">
                <label for="userid">User</label>
                <select onchange='userEmail(this)' class="form-control select2 select2-hidden-accessible" id="userid" name="userid" style="width: 100%;" tabindex="-1" aria-hidden="true">
                    <option data-emailaddr="" value="0">None</option>
                    <?php foreach ($users as $user) { ?>
                        <option data-emailaddr="<?php echo $user['email']; ?>" value='<?php echo $user['id']; ?>' <?php if(isset($_GET['userid'])) { if($_GET['userid'] == $user['id']) echo "selected"; }  ?>><?php echo $user['name']; ?></option>
                    <?php } ?>
                </select>
            </div>
        </div>
        <div class="col-xs-6">
            <div class="form-group">
                <label for="email">Email Address *</label>
                <input type="email" class="form-control" id="email" name="email" value="" required>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-6">
            <div class="form-group">
			<?php 
			
		$technician_name = getSingleValue('contract','technician_name', $_GET['contractid']);?>
			<label for="adminid">Assigned To</label>
				
			<?php if(!empty($technician_name)){?>
			
             <input type="hidden" id="adminid" value="<?php echo $technician_name; ?>" name="adminid" style="width: 100%;" tabindex="-1" 
			   aria-hidden="true"> 
			
			
			<?php } else {?>
			
			
                <select class="form-control select2 hidden-accessible" id="adminid" name="adminid" style="width: 100%;" tabindex="-1" aria-hidden="true">
                    <option value="0">Nobody</option>
					
                    <?php foreach ($admins as $admin) {?>
                        <option value='<?php echo $admin['id']; ?>' <?php if(isset($lia['id'])) { if($lia['id'] == $admin['id']) echo "selected"; }  ?>><?php echo $admin['name']; ?></option> <?php } ?>
                </select> <?php } ?>
				
				</div>
        </div>
        <div class="col-xs-6">
            <div class="form-group">
                <label for="priority">Priority</label>
                <select class="form-control select2" id="priority" name="priority" style="width: 100%;">
                    <option value="Low">Low</option>
                    <option value="Normal" selected>Normal</option>
                    <option value="High">High</option>
                </select>
            </div>
        </div>
    </div>

    <div class="form-group">
        <label for="message" class="control-label">Message</label>
        <textarea class="form-control summernote-modal" id="message" name="message"></textarea>
    </div>

    <div class="form-group"><div class="checkbox"><label><input type="checkbox" name="notification" value="true" checked="yes"> Send New Ticket Notification</label></div></div>

    <input type="hidden" name="addTicket">
    <input type="hidden" name="route" value="<?php echo $_GET['reroute']; ?>">
    <input type="hidden" name="routeid" value="<?php echo $_GET['routeid']; ?>">
    <input type="hidden" name="assetid" value="0">
    <input type="hidden" name="section" value="<?php echo $_GET['section']; ?>">
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Cancel</button>
    <button type="submit" class="btn btn-primary"><i class="fa fa-check"></i> Create</button>
</div>

<script type="text/javascript">

        $(function() { $(".select2").select2(); });

        $(document).ready(function() { $('.summernote-modal').summernote({height: 200}); });

        function userEmail(_this) {
            var emailaddr = $(_this).find(':selected').data("emailaddr");
            document.getElementById("email").value = emailaddr;
        }

</script>
