<?php if(isset($_GET['win'])){ $win = $_GET['win'];}else{ $win = 0; } ?>
<div class="modal-header"><button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button><h4 class="modal-title"><?php if($win == 1){ ?> Edit Cutt Off <?php }else{ ?> Edit Usage <?php } ?></h4></div>
<div class="modal-body">


    <!--
        <div class="row">
            <div class="col-xs-6">
                <div class="form-group">
                    <label for="duedate">Checked Date</label>
                    <div class="input-group">
                        <input type="text" class="form-control datepicker-input" id="checkeddate" name="checkeddate">
                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                    </div>
                </div>
            </div>
            <div class="col-xs-6">
                <div class="form-group">
                    <label for="issuetype">Total Mileage</label>
                    <input type="text" class="form-control" id="total_mileage" name="total_mileage" value="" required>
                </div>
            </div>
        </div>
    -->


<div class="row">
    <div class="col-xs-6">
            <div class="form-group">      
                <label for="name">Transaction Type</label>
                <select class="form-control" id="transtype" name="transtype" style="width: 100%;" tabindex="-1" aria-hidden="true">
                    <option value="new_usage" <?php echo ($usage['transtype'] == 'new_usage') ? 'selected' : ''; ?>>Input New Usage</option>
                    <option value="old_unit" <?php echo ($usage['transtype'] == 'old_unit') ? 'selected' : ''; ?>>Input Old Unit Usage for Replacement</option>
                    <option value="start_milege" <?php echo ($usage['transtype'] == 'start_milege') ? 'selected' : ''; ?>>Input Start Mileage for Newly Replaced Unit</option>
                </select>
            </div>
    </div>
    <div class="col-xs-6">
        <div class="form-group">
            <label for="billofmonth">Bill for the Month</label>
            <div class="input-group">
                <input type="text" class="form-control datepicker-input" id="billofmonth" name="billofmonth" value="<?php if($usage['billofmonth']!=""){ echo $usage['billofmonth'];}else{ echo date ('Y-m-d');} ?>">
                <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
            </div>
        </div>
    </div>
</div>

    <div class="row">
        <div class="col-xs-6">
            <div class="form-group">
                <label for="contractid">Contract No.</label>
                <input type="hidden" name="contractid" id="contractid" value="<?php echo $usage['contractid'];?>" />
				<input type="hidden" name="forend" id="forend" value="<?php echo $_GET['forend'];?>" />
                <input type="text" class="form-control" name="contractno" id="contractno" value="<?php echo getSingleValue('contract','contractno', $usage['contractid']);?>" readonly="" />
            </div>
        </div>
        <div class="col-xs-6">
            <div class="form-group">
				<label for="clientid">Modal No</label>
					<input type="hidden" name="assetid" id="assetid" value="<?php echo  getSingleValue('contract','assetid', $usage['contractid']); ?>" />
                    <input type="text" class="form-control" name="Modal" id="Modal" value="<?php $astid = getSingleValue('contract','assetid', $usage['contractid']); $moddid = getSingleValue('assets','modelid', $astid); echo getSingleValue('models','name', $moddid);?>" disabled />
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-6">
            <div class="form-group">
                <div class="form-group">
                    <label for="clientid">Client</label>
                    <input type="hidden" name="clientid" id="clientid" value="<?php echo $usage['clientid']; ?>" />
                    <input type="text" class="form-control" name="client" id="client" value="<?php echo getSingleValue('clients','name', $usage['clientid']);?>" readonly="" />
                </div>
            </div>
        </div>
        <div class="col-xs-6">
            <label for="clientid">SKU</label>
                    <input type="text" class="form-control" name="SKU" id="SKU" value="<?php $astid = getSingleValue('contract','assetid', $usage['contractid']); echo getSingleValue('assets','sku', $astid);?>" disabled />
        </div>
    </div>


    <div class="row">
        <div class="col-xs-12">
            <div class="form-group">
                <label for="name">Add Page Count by Order Reference </label>        
                <select id="add_page_count_by_order_reference" name="add_page_count_by_order_reference" class="form-control" style="width: 100%;" tabindex="-1" aria-hidden="true">
                    <option value="" ></option>
                    <?php 
                    foreach ($usage_page_report_dropdown as $usage_page_report) { 
                        $date = $usage_page_report['date'];
                        $dateParts = explode(' ', $date);
                        $formattedDate = $dateParts[0];
                        $selected = '';
                        if($usage['add_page_count_by_order_reference'] != '' && $usage['add_page_count_by_order_reference'] == $usage_page_report['id']){
                            $selected = 'selected';
                        }
                        ?>
                        <option value="<?php echo $usage_page_report['id'] ?>" <?php echo $selected; ?>> <?php echo $usage_page_report['ref_no'] . ' - ' . $formattedDate . ' - ' . $usage_page_report['department'] . ' - ' . $usage_page_report['modal_name']; ?></option>
                <?php }
                    ?>
                </select>
            </div>

        </div>
    </div>

    <div class="row">
        <div class="col-xs-6" <?php if($win == 1){ ?> style="display:none;" <?php } ?>>
            <div class="form-group">
                <label for="startdate">Start Date</label>
                <div class="input-group">
                    <input type="text" class="form-control  datepicker-startdate" id="startdate" name="startdate" value="<?php if($usage['startdate']!=""){ echo $usage['startdate'];}else{ echo date ('Y-m-d');} ?>"<?php if($usage['startdate']!=""){ ?> <?php } ?>>
                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                </div>
            </div>
        </div>
		<?php
		date_default_timezone_set('Asia/Singapore'); 
		
		?>
        <div class="col-xs-6">
            <div class="form-group">   
				<label for="enddate">Cut off Date</label>    
				<div class="input-group">         
					<input type="text" class="form-control  datepicker-enddate" id="enddate" name="enddate" value="<?php echo date('Y-m-d');  ?>"><span class="input-group-addon"><i class="fa fa-calendar"></i></span>                
				</div>            
			</div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-6" <?php if($win == 1){ ?> style="display:none;" <?php } ?>>
            <div class="form-group">    
				<label for="scolora3">Color(A3)</label>   
				<input type="text" class="form-control" id="scolora3" name="scolora3" value="<?php echo $usage['scolora3']; ?>"<?php if($usage['scolora3']!=""){ ?>  <?php } ?>>    
			</div>
        </div>
        <div class="col-xs-6">
			<label for="ecolora3">Color(A3)</label> 	     
			<input type="text" class="form-control" id="ecolora3" name="ecolora3" value="<?php if($usage['ecolora3']!=""){ echo $usage['ecolora3'] ; }else{ echo $usage['scolora3'] ; } ?>" required>   
        </div>
    </div>
	
	<div class="row">   
		<div class="col-xs-6" <?php if($win == 1){ ?> style="display:none;" <?php } ?>>			
			<div class="form-group">  	
				<label for="sblacka3">Black(A3)</label>  
				<input type="text" class="form-control" id="sblacka3" name="sblacka3" value="<?php echo $usage['sblacka3'];?>"<?php if($usage['sblacka3']!=""){ ?>  <?php } ?>>    	 
			</div>    
		</div>    
		<div class="col-xs-6">		
			<div class="form-group"> 
				<label for="eblacka3">Black(A3)</label>  
				<input type="text" class="form-control" id="eblacka3" name="eblacka3" value="<?php if($usage['eblacka3']!=""){ echo $usage['eblacka3'] ; }else{ echo $usage['sblacka3'] ; } ?>" required>   	     	
			</div> 		
		</div>   
	</div>
    <div class="row">    
		<div class="col-xs-6" <?php if($win == 1){ ?> style="display:none;" <?php } ?>>   
			<div class="form-group">  	
				<label for="scolora4">Color(A4)</label> 
				<input type="text" class="form-control" id="scolora4" name="scolora4" value="<?php echo $usage['scolora4'];?>"<?php if($usage['scolora4']!=""){ ?>  <?php } ?>>  
			</div>           
		</div>       
		<div class="col-xs-6">	
			<div class="form-group">    
				<label for="ecolora4">Color(A4)</label>     
				<input type="text" class="form-control" id="ecolora4" name="ecolora4" value="<?php if($usage['ecolora4']!=""){ echo $usage['ecolora4'] ; }else{ echo $usage['scolora4'] ; } ?>" required> 
			</div>  
		</div>   
	</div>	
	<div class="row">     
		<div class="col-xs-6" <?php if($win == 1){ ?> style="display:none;" <?php } ?>>		
			<div class="form-group">  
				<label for="sblacka4">Black(A4)</label> 
				<input type="text" class="form-control" id="sblacka4" name="sblacka4" value="<?php echo $usage['sblacka4'];?>"<?php if($usage['sblacka4']!=""){ ?>  <?php } ?>>  
			</div>     
		</div>    
		<div class="col-xs-6">	
			<div class="form-group">  
				<label for="eblacka4">Black(A4)</label>     
				<input type="text" class="form-control" id="eblacka4" name="eblacka4" value="<?php if($usage['eblacka4']!=""){ echo $usage['eblacka4'] ; }else{ echo $usage['sblacka4'] ; } ?>" required>  
			</div>		
		</div> 
	</div>							
    <div class="form-group" <?php if($win == 1){ ?> style="display:none;" <?php } ?>>
        <label for="description" class="control-label">Usage Remarks</label>
        <textarea class="form-control summernote" id="description" name="description">Update Milage</textarea>
    </div>

    <div class="form-group">
        <label for="attachment" class="control-label">Attachment</label>
        <!-- <input type="file" class="form-control" id="attachment" name="attachment[]" multiple> -->
        <input type="file" class="form-control" id="attachment" name="attachment[]">
    </div>

    <div class="form-group">
        <?php

        if(!empty($usage['attachment'])) {

            $attachmentArray = unserialize($usage['attachment']);
            global $scriptpath;

            $host  = $_SERVER['HTTP_HOST'];
            $host_upper = strtoupper($host);
            $path   = rtrim(dirname($_SERVER['PHP_SELF']), '/\\');
            $baseurl = "http://" . $host . $path . "/";

            $targetdir = $baseurl . DIRECTORY_SEPARATOR . 'uploads' . DIRECTORY_SEPARATOR . 'usage_file_attachment' . DIRECTORY_SEPARATOR;

            foreach ($attachmentArray as $filename) {
                $imagePath = $targetdir . $filename;

                $from = preg_replace('/\.[^.]+$/','',$filename);

                $class_file = pathinfo($filename, PATHINFO_FILENAME); 

                if ($imagePath) {
                    echo '<div class="usuageimageList_' . $class_file . '"><a href="' . $imagePath . '" target="_blank">' . $filename . ' </a>';
                    echo '<a class="btn btn-default btn-sm" href="#" data-id="'.$usage['id'].'" onClick="DeleteImageContarct(`' . $filename . '`, ' . $usage['id'] . '); return false;">X</a></div>';
                } else {
                    echo '<p>Image not found: ' . $filename . '</p>';
                }
            }
            
        } 
        ?>
    </div>

    <input type="hidden" name="asetid" value="<?php echo getSingleValue("contract_usages","assetid",$usage['id']);?>">
    <input type="hidden" name="id" value="<?php echo $usage['id']; ?>">
    <input type="hidden" name="editContractUsage">
    <input type="hidden" name="route" value="<?php echo $_GET['reroute']; ?>">
    <input type="hidden" name="routeid" value="<?php echo $_GET['routeid']; ?>">
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Cancel</button>
    <button type="submit" class="btn btn-success sucess" id ="savee"><i class="fa fa-save"></i> Save</button>
</div>
<script src="template/assets/plugins/datepicker/bootstrap-datepicker.js" type="text/javascript"></script>

<script>
    function contracttype() {
        var transtype = $("#transtype").val();
        console.log("transtype", transtype);

        if (transtype == 'old_unit') {
            $("#description").val("Old Unit-Closed");
        } else if (transtype == "start_milege") {
            $("#description").val("New Unit-Replaced");
        } else {
            $("#description").val("Update Milage");
        }
    }

    contracttype();

    $(document).on('change', '#transtype', function () {
        var transtype = $("#transtype").val();
        if (transtype == 'old_unit') {
            $("#description").val("Old Unit-Closed");
        } else if (transtype == "start_milege") {
            $("#description").val("New Unit-Replaced");
        } else {
            $("#description").val("Update Milage");
        }
        console.log("transtype", transtype); // Move this line here if you want to log on every change
    });

    $("#add_page_count_by_order_reference").on('change' , function(){
        var usage_report_id = $(this).val();
        if (usage_report_id != '') {
            
        
        $.ajax({
            url : 'ajax.php?usage_report_detail='+usage_report_id,
            success: function(res){
            var data = JSON.parse(res);
            console.log('data:', data);
            var requied_data = data.requied_data;
            $("#ecolora3").val(requied_data.A3clr);
            $("#eblacka3").val(requied_data.A3blk);
            $("#ecolora4").val(requied_data.A4clr);
            $("#eblacka4").val(requied_data.A4blk);
            $("#description").val(requied_data.remark);


            }
        })        
    }else{
        $("#ecolora3").val('');
        $("#eblacka3").val('');
        $("#ecolora4").val('');
        $("#eblacka4").val('');
        $("#description").val('');
    }
    })
</script>
