<?php if(isset($_GET['win'])){ $win = $_GET['win'];}else{ $win = 0; } ?>
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    <h4 class="modal-title">
        Extra Charges
    </h4>
</div>
<div class="modal-body">

    <div class="row">
        <div class="col-xs-12">
            <div class="form-group">
                <div class="form-group">
                    <label for="black_printing">Black Printing</label>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <div class="form-group">
                <div class="form-group">
                    <label for="extra_black_a3">A3 Paper Size</label>
                    <input type="text" class="form-control" name="extra_black_a3" id="extra_black_a3"
                        value="<?php echo getSingleBasicformValue('print_chargies','extra_black_a3', $usage['contractid']);?>" readonly/>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <div class="form-group">
                <div class="form-group">
                    <label for="a4_paper_size">A4 Paper Size</label>
                    <input type="text" class="form-control" name="extra_black_a4" id="extra_black_a4"
                        value="<?php echo getSingleBasicformValue('print_chargies','extra_black_a4', $usage['contractid']);?>" readonly/>
                </div>
            </div>
        </div>
    </div><br>



    <div class="row">
        <div class="col-xs-12">
            <div class="form-group">
                <div class="form-group">
                    <label for="black_printing">COLOR PRINTING</label>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <div class="form-group">
                <div class="form-group">
                    <label for="extra_color_print_a3">A3 Paper Size</label>
                    <input type="text" class="form-control" name="extra_color_print_a3" id="extra_color_print_a3"
                        value="<?php echo getSingleBasicformValue('print_chargies','extra_color_print_a3', $usage['contractid']);?>" readonly/>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <div class="form-group">
                <div class="form-group">
                    <label for="extra_color_print_a4">A4 Paper Size</label>
                    <input type="text" class="form-control" name="extra_color_print_a4" id="extra_color_print_a4"
                        value="<?php echo getSingleBasicformValue('print_chargies','extra_color_print_a4', $usage['contractid']);?>" readonly/>
                </div>
            </div>
        </div>
    </div>



    <input type="hidden" name="asetid" value="<?php echo getSingleBasicformValue(" print_chargies","contractid",$usage['contractid']);?>">
    <input type="hidden" name="id" value="<?php echo $usage['contractid']; ?>">
    <input type="hidden" name="extra_basic_chargies">
    <input type="hidden" name="route" value="<?php echo $_GET['reroute']; ?>">
    <input type="hidden" name="routeid" value="<?php echo $_GET['routeid']; ?>">
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Cancel</button>
    <!-- <button type="submit" class="btn btn-success sucess" id="savee"><i class="fa fa-save"></i> Save</button> -->
</div>
<script src="template/assets/plugins/datepicker/bootstrap-datepicker.js" type="text/javascript"></script>