<div class="modal-header"><button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button><h4 class="modal-title">Edit Notification Template</h4></div>
<div class="modal-body">
    <h4><?php echo $template['name']; ?></h4><br>
    <div class="form-group">
        <label for="subject">Subject2 *</label>
        <input type="text" class="form-control" id="subject" name="subject" value="<?php echo $template['subject']; ?>" required>
    </div>

    <?php 
    $clientid = isset($clientid) ? $clientid : 0;
    $peoples = get_people_by_client_id($clientid);
    if(!empty($peoples)){
             ?>
            <table>
                <thead>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Mobile Number</th>
                    <th>Email</th>
                    <th>Department / Role</th>
                    <th>Collection</th>
                    <th>Page Count</th>
                </thead>
                <tbody>
                   <?php foreach($peoples as $people){ 
                    echo "<pre>";
                    print_r($people);
                    die;
                    ?>
                        <tr>
                            <td><?php echo $people['id']; ?></td>
                            <td><?php echo $people['name']; ?></td>
                            <td><?php echo $people['name']; ?></td>
                        </tr>
                   <?php } ?>
                </tbody>
            </table>
       <?php 
    }
    ?>

    <?php if($template['id'] == 6) { ?>
        <div class="form-group">
            <label for="sms">SMS *</label>
            <input type="text" class="form-control" id="sms" name="sms" value="<?php echo $template['sms']; ?>" required>
        </div>
    <?php } ?>

    <div class="form-group">
        <label for="message" class="control-label">Message</label>
        <textarea class="form-control summernote2" id="message" name="message"><?php echo $template['message']; ?></textarea>
    </div>

    <p><?php echo $template['info']; ?></p>

    <?php if($template['id'] != 6) { ?>
        <input type="hidden" name="sms" value="">
    <?php } ?>

    <input type="hidden" name="id" value="<?php echo $template['id']; ?>">
    <input type="hidden" name="editNotificationTemplate">
    <input type="hidden" name="route" value="<?php echo $_GET['reroute']; ?>">
    <input type="hidden" name="routeid" value="">
    <input type="hidden" name="section" value="<?php echo $_GET['section']; ?>">
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Cancel</button>
    <button type="submit" class="btn btn-success"><i class="fa fa-save"></i> Save</button>
</div>

<script type="text/javascript">
        $(function() {
            $(".select2").select2();
        });

        $(document).ready(function() { $('.summernote2').summernote({height: 300}); });
</script>
